.container{
    margin-top: 8.5rem;
}
.card-article{
    background-color: #071422;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 15px;
}
h1{
    margin: 30px 0;
}
.card-article img{
    width: 100%;
    height: 400px;
}
.card-article h4{
    font-size: 20px;
    padding: 5px;
    margin-bottom: 0;
}
.card-article p{
    font-size: 15px;
    padding: 10px;
    color: #678AB0;
}
.card{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    flex-wrap: wrap;
}

.card .card-article{
    width: 40%;
    height: 20%;
}

.comment{
    width: 100%;
    background-color: #071422;
    position: relative;
}

.comment h1{
    font-size: 1.5rem;
    padding: 10px;
}

.comment p{
    font-size: 1rem;
    padding: 20px;
    color: #678AB0;
    margin-top: -40px;
}
.comment i{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

input[type=text]{
    border: 1px solid #fff;
    padding: 20px;
    background-color: #142D47;
    width: 50%;
    border-radius: 5px;
}

textarea{
    width: 80%;
    border: 1px solid rgba(255, 255, 255);
    background-color: #142D47;
    border-radius: 5px;
    color: rgba(255, 255, 255, .5);
    padding: 10px;
}
.comments{
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    cursor: pointer;
    background-color: #ffff00;
    color: #142D47;
    border: none;

}

.dropdown{
    margin-top: -49px;
    margin-right: 70px;
    float: right;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown i:hover{
    display: block;
}

@media screen and (max-width: 768px){
    .profile{
        transform: scale(.6);
        margin-top: 12px;
    }
    .small{
        display: none;
    }
    .article-text{
        font-size: 13px;
        text-decoration: underline;
    }
    h1{
        font-size: 13px;
    }
    input[type=text]{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .comments{
        width: 100%;
    }
}